<html xmlns="http://www.w3.org/1999/xhtml">


<head><title>
	Max Lam Chau Tuan
</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
 <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /></head>

<body>
<div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper" style="background-color: black">
                <ul class="left">
                    <li style="font-size: 1.8rem">Max Lam Chau Tuan</li>
                </ul>
                <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons right">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#about">About me</a></li>
                    <li><a href="#skillset">Skillset</a></li>
                    <li><a href="#education">Education</a></li>
                    <li><a href="#projects">Projects</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="#about">About me</a></li>
                    <li><a href="#skillset">Skillset</a></li>
                    <li><a href="#education">Education</a></li>
                    <li><a href="#projects">Projects</a></li>
                </ul>
            </div>
        </nav>
    </div>

    

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large">
            <i class="large material-icons">contact_phone</i>
        </a>
        <ul>
            <li><a class="btn-floating yellow darken-1" href="mailto:http://max.lam226@gmail.com"><i class="material-icons">mail</i></a></li>
            <li style="font-size:1rem"><a class="btn-floating blue darken-3" target="_blank" href="https://vn.linkedin.com/in/tuan-lam-72a16aa8"><b>in</b></a></li>
            <li>
                <form method="get" action="Resume.pdf">
                    <button class="btn-floating red darken-1" type="submit"><i class="material-icons">save</i></button>
                </form>
            </li>
        </ul>
    </div>

    <div id="page1" style="height: 800px">
        <a id="about" class="anchor"></a>
        <div class="row">
            <div style="height: 50px"></div>
            <div class="col s12 m12 l8 offset-l2">
                <h3 class="section-title"><i class="material-icons" style="font-size: 3rem; vertical-align: bottom">assignment_ind</i>About Me</h3>
                <div class="card-panel white hoverable">
                    <div class="row">
                        <div class="col s12 m4 l4" id="profile-photo">
                            <img class="responsive-img" src="images/ava.jpg" />
                        </div>
                        <div class="col s12 m8 l8" id="profile" style="border-bottom: thin solid #9da0a7;">
                            <h4 class="name" style="font-family: 'Open Sans Bold'">Max Lam Chau Tuan
                            </h4>
                            <h5>Junior Programmer
                            </h5>
                        </div>
                        <div class="col s12 m8 l8">
                            <ul>
                                <li class="row profile-row">
                                    <strong class="title col s12 m4 l4">Age</strong>
                                    <span class="cont col s12 m8 l8">23</span>
                                </li>
                                <li class="row profile-row">
                                    <strong class="title col s12 m4 l4">Email</strong>
                                    <span class="cont col s12 m8 l8">lamchautuan@u.nus.edu</span>
                                </li>
                                <li class="row profile-row">
                                    <strong class="title col s12 m4 l4">Phone</strong>
                                    <span class="cont col s12 m8 l8">+65 83712446</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="anchor"><a id="skillset"></a></div>
    <div id="page2" style="height: 650px; position: relative">
        <div class="row">
            <div style="height: 50px"></div>
            <div class="col s12 m12 l8 offset-l2">
                <h3 class="section-title"><i class="material-icons" style="font-size: 3rem; vertical-align: bottom">mode_edit</i>Skillset</h3>
                <ul class="staggered-list" id="staggered-test">
                    <li>
                        <div class="col s12 m6 l6">
                            <span class="bar-title">.Net</span>
                            <div class="progress">
                                <div class="determinate" style="width: 90%"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="col s12 m6 l6">
                            <span class="bar-title">Java</span>
                            <div class="progress">
                                <div class="determinate" style="width: 80%"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="col s12 m6 l6">
                            <span class="bar-title">HTML/CSS</span>
                            <div class="progress">
                                <div class="determinate" style="width: 70%"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="col s12 m6 l6">
                            <span class="bar-title">JavaScript</span>
                            <div class="progress">
                                <div class="determinate" style="width: 60%"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="col s12 m6 l6">
                            <span class="bar-title">Swift</span>
                            <div class="progress">
                                <div class="determinate" style="width: 85%"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="col s12 m6 l6">
                            <span class="bar-title">Android</span>
                            <div class="progress">
                                <div class="determinate" style="width: 80%"></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="anchor"><a id="education"></a></div>
    <div id="page3" style="height: 800px">

        <div class="row">
            <div style="height: 50px"></div>
            <div class="col s12 m12 l8 offset-l2 ">
                <h3 class="section-title"><i class="material-icons" style="font-size: 3rem; vertical-align: bottom">book</i>Education</h3>
                <section class="timeline">
                    <ul>
                        <li>
                            <div>
                                <time>2016 - Present <b>Institute of Systems Science, National University of Singapore</b></time>
                                <br />
                                Graduate Diploma in Systems Analysis.
                            </div>
                        </li>
                        <li>
                            <div>
                                <time>2011 - 2014 <b>Northumbria University</b></time>
                                <br />
                                Bachelor of Arts (Honours) with First Class in Business with International Management.
                            </div>
                        </li>
                        <li>
                            <div>
                                <time>2008 - 2011 <b>Hung Vuong High School for the Gifted</b></time>
                                <br />
                                Certificate of High School Graduation (Physics Class).
                            </div>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
    <div class="anchor"><a id="projects"></a></div>
    <div id="page4" style="height: 800px">
        <div class="row">
            <div style="height: 50px"></div>
            <div class="col s12 m12 l8 offset-l2">
                <h3 class="section-title"><i class="material-icons" style="font-size: 3rem; vertical-align: bottom">library_books</i>Projects</h3>
                <ul class="tabs">
                    <li class="tab col s3"><a class="active" href="#dot-net-project">.NET Project</a></li>
                    <li class="tab col s3"><a href="#j2ee-project">J2EE Project</a></li>
                    <li class="tab col s3"><a href="#android-project">Android Project</a></li>
                </ul>
            </div>
            <div id="dot-net-project" class="col s12 m12 l8 offset-l2">
                <div class="card white hoverable">
                    <div class="card-image">
                        <div class="carousel">
                            <a class="carousel-item" href="#dotnet1!">
                                <img src="images/dotnet1.png" /></a>
                            <a class="carousel-item" href="#dotnet2!">
                                <img src="images/dotnet2.png" /></a>
                            <a class="carousel-item" href="#dotnet3!">
                                <img src="images/dotnet3.png" /></a>
                        </div>
                    </div>
                    <div class="card-action">
                        <p style="font-size: 1.3rem">
                            This Project is about Logic University Stationery Store Inventory System where the university departments order their stationery. 
                            Store clerks order the stationery from the suppliers and they deliver the stationery according to their requisitions received. 
                            <br />
                            <br />
                            The Main Vision of this Project is to automate the present manual and inefficient system to overcome difficulties, prove productivity 
                            and have better control over the stationery stock.
                        </p>
                    </div>
                </div>
            </div>
            <div id="j2ee-project" class="col s12 m12 l8 offset-l2">
                <div class="card white hoverable">
                    <div class="card-image">
                        <div class="carousel">
                            <a class="carousel-item" href="#j2ee1!">
                                <img src="images/j2ee1.png" /></a>
                            <a class="carousel-item" href="#j2ee2!">
                                <img src="images/j2ee2.png" /></a>
                        </div>
                    </div>
                    <div class="card-action">
                        <p style="font-size: 1.3rem">
                            CAB is a web application built by JAVA, J2EE, Spring Framework, Bootstrap, JQuery and MySQL. This web application helped club members and club admins to manage the bookings and maintain profile information.
                            <br />
                            <br />
                            Played key role in choosing components, coding, and integrating other members’ work into a completed deliverable.
                        </p>
                    </div>
                </div>
            </div>
            <div id="android-project" class="col s12 m12 l8 offset-l2">
                <div class="card white hoverable">
                    <div class="card-image">
                        <div class="carousel">
                            <a class="carousel-item" href="#android1!">
                                <img src="images/android1.png" /></a>
                            <a class="carousel-item" href="#android2!">
                                <img src="images/android2.png" /></a>
                            <a class="carousel-item" href="#android3!">
                                <img src="images/android3.png" /></a>
                        </div>
                    </div>
                    <div class="card-action">
                        <p style="font-size: 1.3rem">
                            This mobile application is the extension for the web application because the nature of the store clerk is quite mobile.
                            <br />
                            <br />
                            The android application uses third-party API, augmented reality with a clear UI design to aim for a better user experience.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>